ceb-grid {
    display: block;
}

ceb-grid table[thead=""], ceb-grid table[tbody=""] {
    margin-bottom: 0;
    table-layout: fixed;
}

ceb-grid table[thead=""] tr th span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ceb-grid table[tbody=""] tbody tr:nth-child(1) td {
    border-top: none;
}
