.suggestions-container li {
    border: 1px solid transparent;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.suggestions-container li[marked] {
    border: 1px solid grey;
}

.suggestions-container li:hover {
    background-color: whitesmoke;
}
