<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ceb - <%= htmlWebpackPlugin.options.title || "home" %></title>
</head>
<body>

<header>
    <h1>
        <code>&lt;ceb/&gt;</code>
        <small>examples</small>
    </h1>
    <nav>
        <%
        htmlWebpackPlugin.options.all.forEach(function (item) {
            var link = item + '.html';
        %>
        <li>
            <a href="<%= link %>"><%= item %></a>
        </li>
        <% }); %>
    </nav>
    <hr>
</header>

<div id="content"><%= htmlWebpackPlugin.options.htmlContent %></div>

<!-- ga -->
</body>
</html>
