<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ceb - <%= htmlWebpackPlugin.options.title || "home" %></title>
    <% var filename = htmlWebpackPlugin.options.filename; %>
    <% if (filename === 'loader-systemjs.html') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.js"></script>
    <% } %>
    <% if (filename === 'loader-amd.html') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
    <% } %>
</head>
<body>

<header>
    <h1>
        <code>&lt;ceb/&gt;</code>
        <small>examples</small>
    </h1>
    <nav>
        <%
        htmlWebpackPlugin.options.all.forEach(function (item) {
            var link = item + '.html';
        %>
        <li>
            <a href="<%= link %>"><%= item %></a>
        </li>
        <% }); %>
    </nav>
    <hr>
</header>

<div id="content"></div>

<!-- ga -->
</body>
</html>
