<!DOCTYPE html>
<%
    version = path.basename(this.output);
    title = title.match(/\w*\.\d*\.(\w*)\.\w*/i)[1];
%>
<html>
<head>
  <title>ceb - <%= title %> - <%= version %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="../public/stylesheets/normalize.css" />
  <link rel="stylesheet" media="all" href="../page.css" />
  <link rel="stylesheet" media="all" href="<%= css %>" />
</head>
<body>

<%
    var ref = ['doc', 'feature'];
    var menu = sources.map(function (source) {
        var href = path.basename(destination(source));
        var parts = href.match(/(\w*)\.(\d*)\.(\w*)\.\w*/i);
        var menu = parts[1];
        var priority = parseInt(parts[2]) + (ref.indexOf(menu) * 50);
        var label = parts[3];
        return {
            href: href,
            label: label,
            menu: menu,
            priority: priority
        };
    }).concat([{
        href: '../',
        label: 'index',
        menu: '',
        priority: -1
    }]).sort(function (p1, p2) {
        return p1.priority - p2.priority;
    });
%>

  <div id="container">
    <div id="background"></div>

    <% if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page">
            <% menu.forEach(function (page) { %>
              <a class="source" href="<%= page.href %>">
                <%= page.menu ? page.menu + ' - ' : '' %><%= page.label %>
              </a>
            <% }) %>
          </div>
        </li>
      </ul>
    <% } %>

    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%= title %> <small><%= version %></small></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)/i) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-20179310-4', '/custom-elements-builder');
  ga('send', 'pageview');
</script>
</body>
</html>
