@import (reference) 'https://erikflowers.github.io/weather-icons/css/weather-icons.css';
@import (reference) 'https://erikflowers.github.io/weather-icons/css/weather-icons-wind.css';

weather-app,
weather-location,
weather-location-clouds,
weather-location-humidity,
weather-location-pressure,
weather-location-rain,
weather-location-snow,
weather-location-sunrise,
weather-location-sunset,
weather-location-temperature,
weather-location-value,
weather-location-wind,
weather-locations,
weather-map,
weather-map-location,
weather-place-finder,
weather-toolbar,
weather-units-switcher {
    display: block;
}

weather-place-finder {
    .results > ul {
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
}

weather-map {
    .well {
        min-height: 25em;
    }
}


weather-location {
    .thumbnail {
        display: block;
    }
    hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .lead:not(header) {
        margin-bottom: 0;
    }
}

weather-location-value {
    text-align: center;
    & > strong {
        display: block;
    }
}
