place-finder {
  display: block;
  width: 100%;
}
place-finder input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 1px;
}
place-finder select {
  display: inline-block;
  width: 50%;
  border: 0;
  vertical-align: top;
  overflow: hidden;
}
place-finder select option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
place-finder section {
  display: inline-block;
  width: 50%;
  height: 20em;
  vertical-align: top;
}
