ui-app:not([started]) {
    display: none;
}

ui-app {
    display: block;
}

ui-page {
    display: block;
}

ui-header {
    display: block;
}

ui-header * {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    vertical-align: middle;
}

ui-header ui-action[primary] {
    float: left;
}

ui-header ui-action:not([primary]) {
    float: right;
}

ui-content {
    display: block;
}

ui-items {
    display: block;
}

ui-footer {
    display: block;
}
